.drawer :global(.ant-drawer-body) {
  padding: 0;
}

.stockTable {
}

.stockTable :global(.ant-table-thead > tr > th) {
  font-weight: 400;
}

.positive {
  color: var(--app-rise-color);
}

.negative {
  color: var(--app-fall-color);
}
