.alertPage {
  padding: 16px;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.alertPage :global(.ant-table-wrapper) {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.alertPage :global(.ant-spin-nested-loading) {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.alertPage :global(.ant-spin-container) {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.alertPage :global(.ant-table) {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.alertPage :global(.ant-table-container) {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.alertPage :global(.ant-table-body) {
  flex: 1;
  overflow: auto;
}

.emptyContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex: 1;
}

